        <footer class="overallBody">
            <h2> powered by Express, EJS, and poor life choices.</h2>
            <p>( now with 20% more bugs. )</p>
            <p>PS : 🚫 No databases were harmed in the making of this app.</p>

        </footer>
    </body>
</html>