<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tempScribe</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/about.css">
    <link rel="stylesheet" href="/styles/contact.css">
    <link rel="stylesheet" href="/styles/createPost.css">
    <link rel="stylesheet" href="/styles/blog.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="overallBody">
        <h1 id="logo">temp<span>Scribe</span></h1>
        <nav>
            <ul>
                <li><a href="/home"class="menuItem" ><span>h</span>ome</a></li>
                <li><a href="/about" class="menuItem"><span>a</span>bout</a></li>
                <li><a href="/contact" class="menuItem"><span>c</span>ontact</a></li>
            </ul>
        </nav>
    </header>

